.nav-menu {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;

	li {
		position: relative;
		transition: all 300ms ease;

		&:hover,
		&:focus-within {
			background-color: white;
		}

		a {
			display: block;
			padding: 0.75rem 1rem;
		}

		a:hover,
		a:focus-within {
			outline: none;
		}
	}
}

.sub-menu {
	background-color: skyblue;
	display: none;
	left: 0;
	list-style: none;
	margin: 0;
	opacity: 0;
	position: absolute;
	transition: all 300ms ease-in-out;
	visibility: hidden;
	width: max-content;

	.menu-item:hover>&,
	.menu-item>&:hover,
	.menu-item:focus-within>& {
		display: block;
		opacity: 1;
		visibility: visible;
	}
}